<html>
        <head>
            <title>Vue App</title>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
            <body>
            <div id="app">
               <ul>
                   <li v-for="color in colors" v-if="color.primary">{{color.text}}</li>
               </ul>
            </div>
            </body>
            <script>
                var app =new Vue({
                    el:'#app',
                    data:{
                       colors:[
                           {
                               text:'red',
                               primary: true
                           },
                           {
                               text: 'green',
                               primary: false
                           },
                           {
                               text: 'blue',
                               primary: true
                           },
                           {
                               text: 'yellow',
                               primary: false
                           },
                           {
                               text: 'orange',
                               primary: true
                           }
                        ]
                    }
                })
            </script>
        </head>
    </html>