<html>
        <head>
            <title>Notemaster</title>
            <script src="https://cdn.jsdelivr.net/npm/vue"></script>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
            
            <body>
            <div id="app">
                <h3>{{title}}</h3>
                <div class="form">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Note Title</label>
                            <input class="form-control" type="text" v-model="note.title" />
                        </div>
                        <div class="form-group">
                            <label>Note Text</label>
                            <textarea class="form-control" v-model="note.text"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" @click="addNote">submit</button>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4 note" v-for="note in notes">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">{{note.title}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
                                <p class="card-text">{{note.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </body>
            <script>
               var app = new Vue({
                   el: '#app',
                   data:{
                    title:'Notemaster',
                    note:{
                        title:'',
                        text:''
                    },
                    notes:[{
                        title: 'Visited Hawaii',
                        text: 'I loved the baches and delicious cocol',
                        date: new Date(Date.now()).toLocaleString()
                    }]
                   },
                   methods:{
                       addNote(){
                           let{ text, title}= this.note
                           this.notes.push({text,title,date:new Date(Date.now()).toLocaleString()})
                       }
                   }
                })
             
            </script>
        </head>
    </html>